/* Tema Utama: Industrial Blue & Neutral Gray
Primary Blue (untuk header & tombol utama)
#2F80ED

Dark Blue (untuk sidebar atau header gelap)
#1C2B39

Light Gray (background panel atau konten)
#F2F2F2

Medium Gray (border, garis pemisah, tabel)
#BDBDBD

Accent Green (indikator sukses / stok cukup)
#27AE60

Warning Orange (peringatan / restock)
#F2994A

Danger Red (kesalahan / stok habis)
#EB5757

Basic #808080

*/

.background {
    -fx-background-color: #BDBDBD;
    -fx-border-color: #808080;
    -fx-border-width: 2px;
    -fx-background-radius: 0 40px 0 0;
    -fx-border-radius: 0 40px 0 0;
}

.footer {
    -fx-background-color: #808080;
    -fx-text-fill: #F2F2F2;
}

.body {
    -fx-background-color: #F2F2F2 ;
}

.form{
    -fx-background-color: #ffffff;
    -fx-background-radius: 20px 20px 20px 20px;
    -fx-border-radius: 20px 20px 20px 20px;
    -fx-border-color: #bdbdbd;
}

.btn {
    -fx-background-color: #2F80ED;
    -fx-border-color: #1C2B39;
    -fx-background-radius: 20px 20px 20px 20px;
    -fx-border-radius: 20px 20px 20px 20px;
    -fx-border-width: 1px;
}

.btn:hover{
    -fx-background-color: #ffffff;
    -fx-border-color: #1C2B39;
    -fx-background-radius: 20px 20px 20px 20px;
    -fx-border-radius: 20px 20px 20px 20px;
    -fx-border-width: 1px;   
}

.btnexit{
    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff;
    -fx-background-radius: 10px 10px 10px 10px;
    -fx-border-radius: 10px 10px 10px 10px;
    -fx-border-width: 1px;   
}

.btnexit:hover{
    -fx-background-color: #F2994A;
    -fx-border-color: #F2994A;
    -fx-background-radius: 10px 10px 10px 10px;
    -fx-border-radius: 10px 10px 10px 10px;
    -fx-border-width: 1px; 
}
